@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  overflow-x: hidden;
  color: #343a40;
}

body.no-scroll {
  overflow: hidden;
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefae0;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #606c38;
  font-size: 18px;
  letter-spacing: 0.3px;
  font-weight: 600;
  margin-right: 40px;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: #e05f37;
}

#headline {
  width: 100vw;
  height: 500px;
  background-image: url('./assets/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 50%;
  margin-top: 50px;
}

#recipes-cards {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 150px auto;
  gap: 40px;
}

#recipes-cards h2 {
  position: absolute;
  top: -80px;
  text-align: center;
  font-size: 35px;
}

.card {
  position: relative;
  width: 290px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0 35px;
  margin-top: 40px;
  border: 1px solid #efe7c4;
  border-radius: 12px;
  background-color: rgba(239, 231, 196, 0.5);
  box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
}

.meal-thumbnail {
  width: 280px;
  height: 280px;
  object-fit: cover;
}

.meal-thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.card-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.meal-name {
  font-size: 23px;
  margin-top: 15px;
  color: #9b8834;
}

.like-btn {
  cursor: pointer;
  min-width: 70px;
  height: 40px;
  font-size: 1.3rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: #bf0603;
  margin-left: 15px;
}

.comments-btn {
  position: absolute;
  bottom: 25px;
  cursor: pointer;
  align-self: flex-start;
  font-size: 1.2rem;
  font-family: inherit;
  color: #fff;
  font-weight: 600;
  background-color: #e05f37;
  border: 1px solid#E05F37;
  border-radius: 8px;
  padding: 8px 12px;
  margin-left: 15px;
  transition: all 0.5s ease;
}

.comments-btn:hover {
  background-color: #ff914d;
  border: 1px solid #ff914d;
}

.comment-modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(52, 58, 64, 0.8);
  justify-content: center;
  padding: 50px 0;
  box-sizing: border-box;
  overflow-y: scroll;
}

.comment-modal.active {
  display: flex;
  z-index: 3;
}

.popup-window {
  width: 60%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefae0;
  border-radius: 12px;
  padding: 0 30px 30px;
}

.close-btn {
  cursor: pointer;
  font-size: 70px;
  align-self: flex-end;
}

.popup-image {
  width: 90%;
}

.popup-image img {
  width: 100%;
  max-height: 300px;
  border-radius: 12px;
  object-fit: cover;
}

.item-info {
  width: 87%;
}

.item-info h3 {
  font-size: 35px;
  color: #606c38;
  margin-bottom: 0;
}

.recipe {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #000;
  line-height: 1.5;
}

.comments-container {
  width: 500px;
}

.comment-modal h4 {
  font-size: 25px;
  text-align: center;
}

.comment {
  list-style-type: none;
}

.comment li {
  margin-bottom: 8px;
  border-bottom: 1px solid #ced4da;
  padding-bottom: 8px;
}

.comment span {
  font-size: 17px;
  font-weight: 600;
  margin-right: 5px;
}

.comment .date {
  margin-right: 20px;
}

.comment .comment-text {
  font-weight: 500;
}

.add-comment {
  width: 500px;
}

.add-comment form {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.add-comment form input {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-bottom: 15px;
}

.add-comment form input:focus {
  outline: 2px solid #ced4da;
}

#submit-btn {
  cursor: pointer;
  width: 90px;
  background-color: #e05f37;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

#submit-btn:hover {
  background-color: #ff914d;
}

footer {
  width: 100vw;
  background-color: #efe7c4;
  padding: 15px 0;
}

.footer {
  font-size: 20px;
  font-weight: 600;
  margin-left: 50px;
}

.footer a {
  text-decoration: none;
  color: #606c38;
  width: 100px;
  margin: 0 5px;
}
