@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  overflow-x: hidden;
  color: #343a40;
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefae0;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul a {
  text-decoration: none;
  color: #606c38;
  font-size: 18px;
  letter-spacing: 0.3px;
  font-weight: 600;
  margin-right: 40px;
  transition: all 0.3s ease-in-out;
}

nav ul a:hover {
  color: #E05F37;
}

#headline {
  width: 100vw;
  height: 500px;
  background-image: url('./assets/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 50%;
  margin-top: 50px;
}

#recipes-cards {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 150px auto;
  gap: 40px;
}

#recipes-cards h2{
  position: absolute;
  top: -80px;
  text-align: center;
  font-size: 35px;
}

.card {
  position: relative;
  width: 290px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0 35px;
  margin-top: 40px;
  border: 1px solid #EFE7C4;
  border-radius: 12px;
  background-color: rgba(239, 231, 196, 0.5);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.meal-thumbnail {
  width: 280px; 
  height: 280px;
  object-fit: cover;
}

.meal-thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.card-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.meal-name {
  font-size: 23px;
  margin-top: 15px;
  color: #9B8834;
}

.like-btn {
  min-width: 65px;
  height: 40px;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: #bf0603;
}

.comments-btn {
  position: absolute;
  bottom: 25px;
  cursor: pointer;
  align-self: flex-start;
  font-size: 1.2rem;
  font-family: inherit;
  color: #fff;
  font-weight: 600;
  background-color: #E05F37;
  border: 1px solid#E05F37;
  border-radius: 8px;
  padding: 8px 12px;
  margin-left: 15px;
  transition: all 0.5s ease;
}

.comments-btn:hover {
  background-color: #ff914d;
  border: 1px solid #ff914d;
}

footer{
  width: 100vw;
  background-color: #EFE7C4;
  padding: 15px 0;
}

.footer {
  font-size: 20px;
  font-weight: 600;
  margin-left: 50px;
}

.footer a {
  text-decoration: none;
  color: #606c38;
  width: 100px;
  margin: 0 5px;
}
